/target/*
target/classes/com/daw/gfigueras/Galeria.class
.gitignore
target/classes/com/daw/gfigueras/Galeria.class
target/classes/com/daw/gfigueras/Galeria.class
target/classes/com/daw/gfigueras/ObraDeArte.class
